<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}
    </style>
</head>
<body>
<div style="overflow-x:auto;">
<h1>Books</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Code</th>
        <th>Price</th>
    </tr>

    <tr th:each = "book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.code}"></td>
        <td th:text="${book.price}"></td>
        <!--Thymeleaf Link as PathVariable-->
        <td><a th:href="@{/delete/{id}(id=${book.id})}">  Delete</a></td>
    </tr>

</table>
<br/>
<a href="/add">Add book</a>
</div>
</body>
</html>